/*Paleta de colores
https://colorhunt.co/palette/9adcfffff89affb2a6ff8aae
Blue: #9ADCFF
Teal: #00EAD3 - rgb(154, 220, 255)
yellow: #FFF89A - rgb(255, 248, 154)
peach: #FFB2A6 - rgb(255, 178, 166)
pink: #FF8AAE - rgb(255, 138, 174)
*/
*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0px;
    padding:0%;
    box-sizing: border-box;

}

body{
    background-color:#FFF89A;
    
}

header {
    background-color: #00EAD3;
    
}

nav{
    background-color: #00EAD3;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

nav ul li {
    display:inline-block;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    
}


h1{
    background-color: #00EAD3;
    text-align:center;
    color:#FF8AAE;
    width: 50%;
    margin: auto;

}

h2{
    color:#005F99
}

section{
    margin:5%;
}

form {
    text-align: center;
}

a[href]:hover {
    background-color: #FF8AAE;
    color:#FFF89A;
}
a[href]:visited {
    color:#005F99;


}

footer{
    text-align: center;
    width: 50%;
    margin: auto;
}


